## Range function
* Immutable sequence of numbers

In [1]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

* Range with only stop parameter

In [2]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

* Range with start,stop and step parameters

In [5]:
list(range(5,15))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [6]:
list(range(5,50,5))

[5, 10, 15, 20, 25, 30, 35, 40, 45]

* Range with negative step

In [10]:
list(range(10,-10,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [14]:
tuple(range(1,10))

(1, 2, 3, 4, 5, 6, 7, 8, 9)

## Numerical Datatype

* Print even numbers from 0 to 10

In [20]:
i = 0
while i <= 10:
    if i%2 == 0:
        print('{} is an even number'.format(i))
    i +=1
else:
    print(f'In the else part i :{i}')

0 is an even number
2 is an even number
4 is an even number
6 is an even number
8 is an even number
10 is an even number
In the else part i :11

In [18]:
8 in [1,2,3,5]

False

In [21]:
for i in range(11):
    if i%2 == 0:
        print('{0} is an even number'.format(i))
else:
    print(f'In the else part i :{i}')

0 is an even number
2 is an even number
4 is an even number
6 is an even number
8 is an even number
10 is an even number
In the else part i :10

### Nested for loops to check for prime numbers

In [22]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n//x)
            break
    else:        
        print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

## Strings

In [23]:
word = 'acedious'

* Print the characters of the string

In [25]:
index = 0 
while(index < len(word)):
    print(word[index],end=' ')
    index = index + 1

a c e d i o u s

In [27]:
for char in word:
    print(char,end=' ')

a c e d i o u s

* Using loop count and print the vowels and consonants in the word

In [28]:
lst_vowels = list()
lst_consonants = list()
for char in word:
    if char in ['a','e','i','o','u']:
        lst_vowels.append(char)
    else:
        lst_consonants.append(char)

print(f'The number of vowels present in word {word} is {len(lst_vowels)}')
print(f'The number of consonants present in word {word} is {len(lst_consonants)}')

The number of vowels present in word acedious is 5
The number of consonants present in word acedious is 3

## Lists

In [29]:
lst_num = list(range(10,20))
lst_num

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [32]:
for num in lst_num:
    print('Square of {0} is {1}'.format(num,num**2))

Square of 10 is 100
Square of 11 is 121
Square of 12 is 144
Square of 13 is 169
Square of 14 is 196
Square of 15 is 225
Square of 16 is 256
Square of 17 is 289
Square of 18 is 324
Square of 19 is 361

* For the list given below, 
* Classify and print the datatype of the objects

In [ ]:
lst_mxd = ['python',1,2,3,4.56,(12,5)]

## Dictionary

In [33]:
dict_cat_1 = {'fruits':'banana','colours':'orange','animals':'dog','tech':'C'}
dict_cat_1

{'fruits': 'banana', 'colours': 'orange', 'animals': 'dog', 'tech': 'C'}

In [36]:
dict_cat_1.values(),dict_cat_1.keys(),dict_cat_1.items()

(dict_values(['banana', 'orange', 'dog', 'C']),
 dict_keys(['fruits', 'colours', 'animals', 'tech']),
 dict_items([('fruits', 'banana'), ('colours', 'orange'), ('animals', 'dog'), ('tech', 'C')]))

In [39]:
len(dict_cat_1.items())

4

In [48]:
for k in dict_cat_1.keys():
    print(k.upper())

FRUITS
COLOURS
ANIMALS
TECH

In [43]:
for i in dict_cat_1.items():
    print(f'key = {i[0]}, value = {i[1]}')

key = fruits, value = banana
key = colours, value = orange
key = animals, value = dog
key = tech, value = C

In [50]:
for (key,value) in dict_cat_1.items():
    print(f'key = {key}, value = {value}')

key = fruits, value = banana
key = colours, value = orange
key = animals, value = dog
key = tech, value = C

In [ ]:
print(dict_cat_1.items())

In [ ]:
for item in dict_cat_1.items():
    print(item,type(item))

In [ ]:
dict_cat_2 = {'fruits':['banana','apple'],
              'colours':['orange','red'],
              'animals':['dog','cat'],
              'tech':['C','python']}

In [ ]:
for (key,value) in dict_cat_2.items():
    if key == 'fruits':
        value.append('grapes')
    elif key == 'colours':
        value.append('green')
    elif key == 'animals':
        value.append('Lion')
    elif key == 'tech':
        value.append('C++')

dict_cat_2

In [ ]:
dict_cat_3 = {'fruits':{'banana','apple'},
              'colours':{'orange','red'},
              'animals':{'dog','cat'},
              'tech':{'C','python'}}

In [ ]:
for (key,value) in dict_cat_3.items():
    if key == 'fruits':
        value.add('strawberry')
    elif key == 'colours':
        value.add('green')
    elif key == 'animals':
        value.add('Lion')
    elif key == 'tech':
        value.add('C++')

dict_cat_3

<html>
    <b> 1. Write a program to check the list containing integers and print the integers occurring two or more times.

In [ ]:
# %load loop_1.py

In [ ]:
print(dir(list))

In [ ]:
help(list.count)

In [ ]:
lst_num = [1,2,3,4,5,6,5,7,8,7]
set_items = set(lst_num)
for num in set_items:
    if lst_num.count(num)>1:
        print(num)

In [ ]:
set_items

<html>
    <b> 2. Write a program to accept numerical data from user.</b>
        <ol type= "I">
            <li> Give an option for the user to exit the prgram </li>
            <li> Find the sum of all the numbers of the input data </li>
            <li> Find the largest and smallest number of the input data </li>
        </ol>    
    </html>

In [ ]:
# %load loop_2.py

<html>
    <b> 3. Write a program to count the number of time each word occurs in the sentence given below </b>
    <p><i>str_words = 'She sells sea shells on the sea shore' </i>

In [ ]:
# %load loop_3.py

In [54]:
lst_words

['She', 'sells', 'sea', 'shells', 'on', 'the', 'sea', 'shore']

In [56]:
str_words = 'She sells sea shells on the sea shore'
lst_words = str_words.split(' ')
dict_count = dict()
for word in lst_words:
    dict_count[word] = dict_count.get(word,0) + 1
#     if word in dict_count.keys():
#         dict_count[word] = dict_count[word] + 1
#     else:
#         dict_count[word] = 1

    print(dict_count)

{'She': 1}
{'She': 1, 'sells': 1}
{'She': 1, 'sells': 1, 'sea': 1}
{'She': 1, 'sells': 1, 'sea': 1, 'shells': 1}
{'She': 1, 'sells': 1, 'sea': 1, 'shells': 1, 'on': 1}
{'She': 1, 'sells': 1, 'sea': 1, 'shells': 1, 'on': 1, 'the': 1}
{'She': 1, 'sells': 1, 'sea': 2, 'shells': 1, 'on': 1, 'the': 1}
{'She': 1, 'sells': 1, 'sea': 2, 'shells': 1, 'on': 1, 'the': 1, 'shore': 1}

In [ ]:
dict_count.get(word,0)

In [ ]:
help(str.split)