# Operators

## Comparison Operators

<div class="table-contents"><table summary="Comparison Operators" style="border-collapse: collapse;border-top: 0.5pt solid ; border-bottom: 0.5pt solid ; border-left: 0.5pt solid ; border-right: 0.5pt solid ; "><colgroup><col><col></colgroup><thead><tr><th style="border-right: 0.5pt solid ; border-bottom: 0.5pt solid ; " valign="top"><p>Operator</p></th><th style="border-bottom: 0.5pt solid ; " valign="top"><p>Meaning</p></th></tr></thead><tbody><tr><td style="border-right: 0.5pt solid ; border-bottom: 0.5pt solid ; " valign="top"><p><code class="literal">==</code></p></td><td style="border-bottom: 0.5pt solid ; " valign="top"><p>Equal to</p></td></tr><tr><td style="border-right: 0.5pt solid ; border-bottom: 0.5pt solid ; " valign="top"><p><code class="literal">!=</code></p></td><td style="border-bottom: 0.5pt solid ; " valign="top"><p>Not equal to</p></td></tr><tr><td style="border-right: 0.5pt solid ; border-bottom: 0.5pt solid ; " valign="top"><p><code class="literal">&lt;</code></p></td><td style="border-bottom: 0.5pt solid ; " valign="top"><p>Less than</p></td></tr><tr><td style="border-right: 0.5pt solid ; border-bottom: 0.5pt solid ; " valign="top"><p><code class="literal">&gt;</code></p></td><td style="border-bottom: 0.5pt solid ; " valign="top"><p>Greater than</p></td></tr><tr><td style="border-right: 0.5pt solid ; border-bottom: 0.5pt solid ; " valign="top"><p><code class="literal">&lt;=</code></p></td><td style="border-bottom: 0.5pt solid ; " valign="top"><p>Less than or equal to</p></td></tr><tr><td style="border-right: 0.5pt solid ; " valign="top"><p><code class="literal">&gt;=</code></p></td><td style="" valign="top"><p>Greater than or equal to</p></td></tr></tbody></table></div></div>

## Integers

In [2]:
x=0

bool(x) is True

False

In [3]:
x = 5
y = 6

In [5]:
x == y,x>y,x<y,x!=y

(False, False, True, True)

## And ,Or operator

In [6]:
x,y =6,5

In [8]:
x >0 and y>10

False

In [9]:
x > 0 and x > y

True

## Strings

In [10]:
x_str = 'hello'
y_str = 'Hello'

x_str > y_str

True

In [15]:
x_str = 'MADAM'

In [13]:
x_str == x_str[::-1]

True

### String functions returning boolean value

'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper'

In [44]:
class c1:
    def __init__(self,x,y):
        self.x = x
        self.y = y
    
#     def __repr__(self):
#         return str(x)
    
    def output():
        print(self.x,self,y)

In [45]:
obj1 = c1(3,4)

In [46]:
print(obj1)

<__main__.c1 object at 0x00000115AFAE5248>

In [43]:
lst_num = [1,2,3,4]
print(lst_num)

[1, 2, 3, 4]

In [17]:
help(str.isprintable)

Help on method_descriptor:

isprintable(self, /)
    Return True if the string is printable, False otherwise.

    A string is printable if all of its characters are considered printable in
    repr() or if it is empty.

In [47]:
x_str.isprintable()

True

## Lists & Tuples

In [ ]:
## Lists
lst_x = [1,2,3,10,5]
lst_y = [12.3,3.4,5.7,7.3]

print(lst_x[3] < lst_y[3])
print(len(lst_x) >= len(lst_y))

In [ ]:
## tuples
tup_a = (1,2,3,4,5)
tup_a[0] > 0

## Dictionary

In [48]:
dict_num = {1:'one',2:'two',3:'three',4:'four'}

In [51]:
dict_num[4] == 'four'

True

## 'in' Operator For Collection Object Data Types

In [53]:
## Strings
x_str = 'even'

print('e' in x_str)
print('ana' in 'banana')

True
True

In [55]:
## Lists
lst_numbers = [1,2,3,4,5]
print(5 in lst_numbers)

True

In [56]:
lst_str = ['banana','apple','Raspberry','grapes']
print('grape' in lst_str)

False

In [57]:
'grape' in 'grapes'

True

In [58]:
## Dictionary
dict_repr = {1:'one',2:'two',3:'three',4:'four'}

In [61]:
print(dict_repr.keys())
1 in dict_repr.keys()

dict_keys([1, 2, 3, 4])

True

In [68]:
(3,'three') in dict_repr.items()

True

In [ ]:
print(1 in dict_repr.keys())
print('four' in dict_repr.values())
print((1,'one') in dict_repr.items())

## 'is' Operator For Object Identification

In [69]:
# Integer
x = 5
y = 5
print(x is y)

True

In [70]:
# Strings
x_str = 'Hello'
y_str = 'Hello'

print(x_str is y_str)

True

In [75]:
## Lists
lst_num = [1,2,3,4,5]
lst_num1 = lst_num[:]

print('Contents of lst_num:{0} and lst_num1:{1}'.format(lst_num,lst_num1))
print('Is lst_num1 equal to lst_num:',lst_num1 == lst_num)
print('Is lst_num1 and lst_num same object:',lst_num1 is lst_num)

Contents of lst_num:[1, 2, 3, 4, 5] and lst_num1:[1, 2, 3, 4, 5]
Is lst_num1 equal to lst_num: True
Is lst_num1 and lst_num same object: False

In [76]:
id(lst_num),id(lst_num1)

(1192651928264, 1192651928520)

## 'isinstance' Function

In [78]:
x = 24.6
y_str = 'Hello'
lst_val = [4.5,67,'hello']

In [84]:
isinstance(lst_val[-1][-1],str)

True

In [77]:
isinstance(x,float)

True